[user]
	name = Tomáš Effenberger
	email = Tomas.Effenberger@gmail.com
[push]
	default = simple
[core]
	excludesfile = ~/repos/config/.gitignore-global
[credential]
	username = effa
	helper = cache
[merge]
	conflictstyle = diff3
[pull]
	rebase = true
