[user]
	name = Tomáš Effenberger
	email = Tomas.Effenberger@gmail.com
[push]
	default = simple
[core]
	excludesfile = ~/dotfiles/_gitignore-global
[credential]
	helper = /usr/lib/git-core/git-credential-gnome-keyring
[merge]
	conflictstyle = diff3
